<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        body{background-color: #cd9732
        }
    </style>
</head>
<body>

<center>
<form action="http://localhost:8080/confirmation" method="get">
    <b>
        <br><br><br><br>
        <img src="https://i.pinimg.com/originals/81/5d/4a/815d4aaf85629dca538f37a8d07b6d8a.gif" height="200" width="400">

        <h1>ENTER EMAIL TO SAVE IT IN DB</h1>
        <div style="width:500px;height:170px;border:7px solid #252525; background-color: #6b6a6a">
            <br><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <label for="email"><b>EMAIL:</b></label>
            <input name="email" type="email" id="email"><br><br>
            <label for="retype_email"><b>RETYPE EMAIL:</b></label>
            <input name="retype_email" type="email" id="retype_email"><br><br>
            <input type="submit" value="ADD EMAIL">

        </div>
    </b>
</form>
</center>
</body>
</html>
